.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.buttons {
    margin: auto;
    width: 30%;
    height: 20%;
    align-content: flex-end;
}

.imageitem {
    width: 500px;
    min-height: 200px;
    max-height: auto;
    float: left;
    margin: 3px;
    padding: 3px;
    max-width: 100%;
    height: auto;
}

body {
    background-color: #fff
}

.container {
    background-color: #eef2f5;
    width: 400px
}

.addtxt {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 13px;
    width: 350px;
    background-color: #e5e8ed;
    font-weight: 500;
    margin: 10, 10, 10, 10;
}

.form-control:focus {
    color: #000
}

.second {
    width: 350px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 10px 10px 5px #aaaaaa
}

.text1 {
    font-size: 13px;
    font-weight: 500;
    color: #56575b
}

.text2 {
    font-size: 13px;
    font-weight: 500;
    margin-left: 6px;
    color: #56575b
}

.text3 {
    font-size: 13px;
    font-weight: 500;
    margin-right: 4px;
    color: black
}

.text3o {
    color: black
}

.text4 {
    font-size: 13px;
    font-weight: 500;
    color: black;
}

.text4i {
    color: black
}

.text4o {
    color: black
}

.thumbup {
    font-size: 13px;
    font-weight: 500;
    margin-right: 5px
}

.thumbupo {
    color: #17a2b8
}