.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.buttons {
    margin: auto;
    width: 30%;
    height: 20%;
    align-content: flex-end;
}

.imageitem {
    width: 400px;
    min-height: 200px;
    max-height: auto;
    float: left;
    margin: 3px;
    padding: 3px;
    max-width: 100%;
    height: auto;
}